body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.head {
  height: 90vh;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contacts {
  position: absolute;
  top: 0;
  right: 10;
}

#iconsBox span {
  margin: 8px 18px;
}

.animate__animated.animate__bounceInRight {
  --animate-duration: 3s;
}

#about {
  height: 40vh;
}

#stack {
  height: 40vh;
  background-color: #fad961;
}

#clickme {
  font-size: 0.8em;
  color: #fad961;
}

#codesnippet-container {
  padding: 0;
}

#codesnippet-container img {
  width: 500px;
}

#copy2clipboard {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

#copy2clipboard #tooltiptext {
  display: none;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.5em;
}

.stacks_icon {
  font-size: 4em;
}

#text2clipboard {
  display: none;
}

#tooltiptext {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #about {
    height: 50vh;
  }

  #stack {
    height: 50vh;
    background-color: #fad961;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #about {
    height: 50vh;
  }

  #stack {
    height: 50vh;
    background-color: #fad961;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #codesnippet-container img {
    width: 350px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
